@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* commom popperties */

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-7 {
    width: 58%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 42%;
    padding-left: 12px;
    padding-right: 12px;
}

.d-flex {
    display: flex;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex-column {
    flex-direction: column;
}

.justify-space-btw {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.cursor {
    cursor: pointer;
}

.scale {
    transition: scale 150ms linear;
}

.scale:hover {
    scale: 1.025;
}

body {
    background-color: #F6E300;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.text-center {
    text-align: center;
}

/* nav */

nav {
    padding-top: 11px;
    padding-bottom: 11px;
}

.gap-20 {
    gap: 20px;
}

.gap-38 {
    gap: 38px;
}

.wallet {
    border: 0;
    background-color: #FFF;
    padding: 12px 32px;
    border-radius: 10px;
}

.menu-list li a {
    white-space: nowrap;
    transition: color 150ms linear;
}

/* section 1 */

.background1 {
    background-image: url(/assets/images/png/section1.1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35.5vh;
}

.background2 {
    background-image: url(/assets/images/png/section1.2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 73px;
}

.section1-head {
    margin-bottom: 27px;
}

/* section 2 */

.section2 {
    background-color: #FFF03F;
    margin-bottom: 114px;
}

.section2-head {
    margin-bottom: 24px;
}

.section2-content {
    margin-bottom: 48px;
    max-width: 591px;
}

.discover {
    border: 0;
    background-color: #F4241E;
    padding: 15px 32px;
    border-radius: 10px;
    max-width: 220px;
}

/* section 3 */

.section3 {
    margin-bottom: 115px;
}

.parent1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 27px;
}

/* section 4 */

.section4 {
    background-color: #F4241E;
    padding-top: 29px;
    padding-bottom: 58px;
}

.section4-head {
    margin-bottom: 55px;
}

.icons {
    max-width: 1148px;
}

/* section 5 */

.section5 {
    background-image: url(/assets/images/png/section5.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 73px;
    padding-bottom: 100px;
}

.section5-head {
    margin-bottom: 98px;
}

.timeline {
    margin: auto;
    position: relative;
}

.box {
    width: 50%;
    padding: 10px 40px 60px;
    position: relative;
}

.box-head {
    margin-bottom: 16px;
}

.gap-10 {
    gap: 10px;
}

.card {
    background-color: #FFFFFF;
    padding: 27px 23px;
    position: relative;
    border-radius: 10px;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.timeline::after {
    content: '';
    position: absolute;
    border: 4px solid #F4241E;
    top: 12px;
    bottom: -12px;
    left: 50%;
    margin-left: -3px;
}

.box::after {
    content: '';
    position: absolute;
    width: 36px;
    height: 36px;
    right: -18.5px;
    background-color: white;
    top: 8px;
    border-radius: 50%;
    z-index: 1;
}

.right::after {
    left: -17px;
}

/* section 6 */

.section6 {
    background-color: #FFF03F;
    padding-top: 42px;
    padding-bottom: 68px;
    margin-bottom: 58px;
}

.section6-head {
    margin-bottom: 38px;
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 35px;
}

.mt-26 {
    margin-top: 26px;
}

.mb-5 {
    margin-bottom: 5px;
}

/* section 7 */

.section7-head {
    margin-bottom: 26px;
}

.accordion {
    padding: 23px 31px;
    border: none;
    max-width: 922px;
    background-color: #FFF03F;
    transition: background-color 0.3s ease;
}

.arrow {
    display: inline-block;
    transition: transform 0.3s ease;
}

.accordion.active .arrow {
    transform: rotate(-180deg);
    /* Points up */
}

.panel {
    max-width: 922px;
    padding-left: 31px;
    padding-right: 25px;
    height: 0;
    background-color: #FFF03F;
    overflow: hidden;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.4s ease;
}

.panel.active {
    opacity: 1;
}

.gap-8{
    gap: 8px;
}

.section7{
    margin-bottom: 88px;
}

/* section 8 */

.icon-box{
    display: flex;
    gap: 46px;
    margin-top: 26px;
    margin-bottom: 53px;
}

.section8{
    padding-bottom: 44px;
}

/* media query */

@media (min-width:769px) {
    .menu-list li a:hover {
        color: #F4241E;
    }
}